*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

min-height:100vh;

background:
linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("images/bg.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;

}

.login-box{

width:350px;

background:rgba(255,255,255,0.12);
backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.25);

padding:40px;

border-radius:15px;

box-shadow:0 10px 35px rgba(0,0,0,0.5);

text-align:center;

color:white;

}

.login-box h2{

margin-bottom:25px;
font-size:28px;
letter-spacing:1px;

}

input{

width:100%;
padding:12px;

margin:10px 0;

border:none;
border-radius:8px;

background:rgba(255,255,255,0.2);

color:white;

outline:none;

}

input::placeholder{
color:#ddd;
}

input:focus{
background:rgba(255,255,255,0.3);
}

button{

width:100%;

padding:12px;

margin-top:15px;

background:linear-gradient(90deg,#00c6ff,#0072ff);

border:none;

border-radius:8px;

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.03);

box-shadow:0 0 15px #00c6ff;

}

.footer{

margin-top:15px;
font-size:13px;
color:#ddd;

}

.footer a{

color:#00c6ff;
text-decoration:none;

}

@media(max-width:450px){

.login-box{
width:90%;
padding:30px;
}

}